ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    float: left;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}